* {
    font-family: '0xProto Nerd Font', monospace;
    font-size: 24px;
    transition-property: background-color;
    transition-duration: 0.7s;
}

window {
background-color: rgba(255, 150, 150, 0.4);
 /* Deep pink-purple tone for background */
    /* border-radius: 10px; */
}

button {
    background-color: #2a1a2f;
  border-style: solid;
    /* border-width: 2px; */
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    margin: 15px;
}

button:active,
button:hover {
    background-color: #f5c2e7; /* Light pink on hover */
}

button:focus {
    background-color: #f5c2e7;
}

#lock {
    background-image: image(url("/home/dummy/.config/assets/wlogout/assets/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#lock:hover {
    background-image: image(url("/home/dummy/.config/assets/wlogout/assets/lock-hover.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    color: #2a1a2f;
}

#logout {
    background-image: image(url("/home/dummy/.config/assets/wlogout/assets/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#logout:hover {
    background-image: image(url("/home/dummy/.config/assets/wlogout/assets/logout-hover.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    color: #2a1a2f;
}

#suspend {
    background-image: image(url("/home/dummy/.config/assets/wlogout/assets/sleep.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#suspend:hover {
    background-image: image(url("/home/dummy/.config/assets/wlogout/assets/sleep-hover.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
    color: #2a1a2f;
}

#shutdown {
    background-image: image(url("/home/dummy/.config/assets/wlogout/assets/power.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#shutdown:hover {
    background-image: image(url("/home/dummy/.config/assets/wlogout/assets/power-hover.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    color: #2a1a2f;
}

#reboot {
    background-image: image(url("/home/dummy/.config/assets/wlogout/assets/restart.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

#reboot:hover {
    background-image: image(url("/home/dummy/.config/assets/wlogout/assets/restart-hover.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    color: #2a1a2f;
}

#exit {
    background-image: image(url("/home/dummy/.config/assets/wlogout/assets/restart.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    background-color: #2a1a2f;
}

#exit:hover {
    background-image: image(url("/home/dummy/.config/assets/wlogout/assets/restart-hover.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    color: #2a1a2f;
    background-color: #f5c2e7;
}
