* {
    border: none;
    border-radius: 0;
    font-family: '0xProto Nerd Font', monospace;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #f5e0dc; /* Light pink text */
}

/* Workspaces */
#workspaces button {
    padding: 5px;
    color: #f2cdcd; /* Muted pink */
    margin-right: 5px;
}

#workspaces button.active {
    color: #f5c2e7; /* Soft pink */
}

#workspaces button.focused {
    color: #1e1e2e;
    background: #f5c2e7; /* Soft pink */
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #1e1e2e;
    background: #fab387; /* Peachy pink for urgency */
    border-radius: 10px;
}

#workspaces button:hover {
    background: #f5e0dc;
    color: #1e1e2e;
    border-radius: 10px;
}

/* Modules base style */
#window,
#clock,
#battery,
#pulseaudio,
#network,
#temperature,
#disk,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
    background: #3b1e2e; /* Deep mauve/pinkish-purple background */
    padding: 0px 10px;
    margin-top: 5px;
}

#temperature {
  margin-right: 5px;
    border-radius: 10px;
}

/* Module-specific tweaks */
#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #3b1e2e;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#memory {
    border-radius: 10px 0px 0px 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #f2cdcd;
    border-radius: 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: #f5c2e7;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
    color: #f5c2e7;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #f5c2e7;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color: #f5c2e7;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

/* Optional: Temperature/Disk Hover or High Usage Warnings */
#temperature.critical, #disk.full {
    background: #eba0ac;
    color: #1e1e2e;
}


